.search-result[b-g47vgwk2vu] {
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid silver;
    padding: 5px;
}


div ul[b-g47vgwk2vu] {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 10px;
}

div ul li[b-g47vgwk2vu] {
    cursor: pointer;
}

.selected[b-g47vgwk2vu]{
    background-color: antiquewhite;
}